.venv/
__pycache__/
*.pyc
*.log
*.pid
.env

tools/downloads/

uploads/*
!uploads/.gitkeep
!uploads/**/
!uploads/**/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/**/
!outputs/**/.gitkeep

data/*
!data/.gitkeep
!data/**/
!data/**/.gitkeep
